    <div class="row navbar-offset">
    <div class="container">
        <div class="col-md-12">

            <div class="col-md-9 ad-ready">
                <h2>Ready for an Ad!</h2>
            </div>
            <div class="col-md-3 fb-like">
                <h3>Like!</h3>
            </div>
        </div>
    </div>

</div>

<div class="row ">
    <div class="container col-md-12">
        <div class="col-md-9">
            <h3>{{title}}</h3>
            {{{body}}}
        </div>

        <div class="col-md-3 right-side-ad">
            {{{sideBarTopAdScript}}}
            Social Media Icon???
            {{{sideBarBottomAdScript}}}
        </div>
    </div>

</div>